body, html {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgb(56,0,125);
background: linear-gradient(0deg, rgba(56,0,125,1) 0%, rgba(253,45,106,1) 93%);
  color: #eff6e0;
  width: 100%;
  margin-top: -10px;
  margin-left: -10px;
  font-family: "Roboto Slab", serif;
}

.header-left h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #eff6e0;
}

.nav-tabs {
  display: flex;
  gap: 1rem;
  margin-right: 30px;
}

.nav-tabs a {
  color: #eff6e0;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-tabs a:hover {
  color: rgb(32, 32, 32);
}

.active {
  font-weight: bolder;
  border-bottom: 2px solid white;
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  background-color: #222;
  color: #ffe5d9;
  align-items: center;
  margin: 0;
  width: 100%;
  margin-left: -10px;
  margin-bottom: -10px;
}
.footer-icon {
  color: #ffe5d9;
}
.footer-icon:hover {
  color: gray;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding: 2rem;
}

.portfolioimg {
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin: 0;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 4px;
  border-color: #1a0182;
}

.aboutme-p {
  max-width: 700px;
  line-height: 1.6; 
  margin: 0;
  padding: 20px;
}

.aboutme-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0px;
  color: #fff4e5;
  box-sizing: border-box;
  flex-direction: column; 
  font-family: "Roboto Slab", serif; 
  /* font-family: "Parkinsans", serif; */
}

.view-more-btn {
  padding: 10px;
  background-color: rgba(56,0,125,1);
  color: #eff6e0;
  border: none;
  border-radius: 4px;
  font-size:larger;
  font-family: "Roboto Slab", serif;
}

.view-more-btn:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.card-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; 
}

.project-heading {
  color: #fff4e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  font-family: "Roboto Slab", serif;
}

.project-card {
  background-color: #1a0182;
  border-radius: 20px;
  margin: 20px;
  color: #fff4e5;
  max-width: 700px;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  margin-top: 1rem;
}

.icon-link {
  color: #eff6e0; 
}

.icon-link:hover {
  color: #555; 
}

.contact-form {
  max-width: 500px;
  margin: auto;
  color: #fff4e5;
  padding: 80px;
  font-family: "Roboto Slab", serif;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto Slab", serif;
}

.contact-form button {
  padding: 10px;
  background-color: rgba(56,0,125,1);
  color: #eff6e0;
  border: none;
  border-radius: 4px;
  font-size:larger;
  font-family: "Roboto Slab", serif;
}

.contact-form button:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.contact-form p {
  color: #ffe5d9;
  margin-top: 1rem;
  font-family: "Roboto Slab", serif;
}

.contact-form label {
  font-size: larger;
}

.resume-section-container {
  max-width: 600px;
  margin: auto;
}

.resume-text-box {
  font-size: large;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border-radius: 10px;
  border-style: solid;
  background-color: #ffe5d9;
  font-family: "Roboto Slab", serif;
}
.resume-text-box a {
  text-decoration: none;
  color: #01161e;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 15px; 
  font-size: 3rem;
  margin-top: 50px;
  color: #ffe5d9;
}

/* @media (max-width: 768px) {
  .nav-tabs {
    flex-direction: column;
    gap: 0.5rem;
  }

  .skills-list {
    flex-direction: column;
  }
} */